body {
  background-color: #e9e1d3;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}
.formContainer {
  display: flex;
  justify-content: space-around;
  flex-shrink: 1;
}
.label {
  color: #495050;
}
input {
  border: none;
  border-radius: 4px;
  background-color: #f2ede5;
}
.button {
  background-color: #366e52;
  color: #b7accc;
  border: none;
  border-radius: 4px;
  padding: 0px 12px;
}
.taskList {
  display: flex;
  justify-content: space-between;
}
.bold {
  font-weight: bolder;
  color: #366e52;
}
